:root {
    --widthvar: 20%;
    --fontsize: 16px;

}
@media(max-width: 600px){
    img{
        --widthvar: 80%;
    }
    body{
        --fontsize: 1.4em
    }
}
@media(max-width: 1200px){
    img{
        --widthvar: 50%;
    }
    body{
        --fontsize: 1.2em
    }
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align:center;
    background-color: gray;
    font-family: sans-serif, Arial, Helvetica;
    font-size: var(--fontsize);
    

}
table{
    width: 70%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid;
    font-size: var(--fontsize);
}

img{
    width: var(--widthvar);
}
.moves{
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: 1;
    transition-property: font-size, transform;
    transition-duration: 3s;

}
.moves:hover{
    font-size: 2em;
    transform: rotate(360deg);


}

@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(360deg)
    }
}

